body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* background-color: #F4F9FC; */
}

.landing-page {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.login-page {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  width: 300px;
}

.login-register-container {
  padding-top: 25px;
  display: flex;
  justify-content: space-around;
  width: 300px;
}

.account-container {
  position: absolute;
  top: 2%;
  bottom: 2%;
  left: 3%;
  right: 3%;
  overflow: hidden;
  margin: 50px;
  border: 1px solid black;
}

@media all and (max-width: 1500px) {
  .account-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    border-radius: 0px;
  }
}

.left-pane {
  width: 400px;
  height: 100%;
  float: left;
  display: block;
  /* For testing */
  border: 1px solid blue;
}

.right-pane {
  height: 100%;
  /* For testing */
  border: 1px solid red;
  display: flex;
  flex-flow: column;
}

.list-entry {
  height: 50px;
  border: 1px solid blue;
}